<tr>
  <td><%= employee.id %></td>
  <td><%= employee.name %></td>
  <td><%= employee.email %></td>
  <td><%= employee.age %></td>
  <td><%= employee.street %></td>
  <td><%= employee.house_number %></td>
  <td><%= employee.neighborhood %></td>
  <td><%= employee.city %></td>
  <td><%= employee.state %></td>
</tr>
