<nav class="navbar border-bottom navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to t('common.navbar.basic_usage'), employees_path, class: "nav-link active" %>
        </li>
      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0 align-right">
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <% if I18n.locale == :en %>
              <%= t('english_html') %>
            <% else %>
              <%= t('portuguese_html') %>
            <% end %>
          </a>
          <ul class="dropdown-menu">
            <% if I18n.locale == :en %>
              <li><%= link_to t('portuguese_html'), url_for(locale: :'pt-BR'), class: 'nav-link active' %></li>
            <% else %>
              <li><%= link_to t('english_html'), url_for(locale: :en), class: 'nav-link active'  %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
